<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}1조 블로그{% endblock %}</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base.css" %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />
<link href="static/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <div class="titleuser">
    <!-- <div class="user">
      {% if user.is_active %}
      <h4 class="welcome">환영합니다,
                  <strong>{% firstof user.get_short_name user.get_username %}</strong> /
                  <a href="{% url 'password_change' %}">비밀번호 바꾸기<i class="fa fa-exchange"></i></a> /
                  <a href="{% url 'logout' %}">로그아웃<i class="fa fa-sign-out"></i></a>
      </h4>
      {% else %}
      <h4 class="welcome">환영합니다, 익명/
                  <a href="{% url 'login' %}">로그인<i class="fa fa-sign-in"></i></a> /
                  <a href="{% url 'register' %}">회원가입<i class="fa fa-sign-in"></i></a>
      </h4>
    </div>
  </div>
      {% endif %} -->

      <body>
        <div id="mymenu">
            <nav class="nav navbar-default" role="navigation">
              <div class = "navbar-header">
                <button type = "button" class = "navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">장고 블로그</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand django">1조</a>
              </div>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">북마크<span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'bookmark:index' %}">목록</a></li>
                      <li><a href="{% url 'bookmark:add' %}">추가</a></li>
                      <li><a href="{% url 'bookmark:change' %}">변경</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">블로그<span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'blog:index' %}">목록</a></li>
                      <li><a href="{% url 'blog:add' %}">추가</a></li>
                      <li><a href="{% url 'blog:change' %}">변경</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">사진<span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'photo:index' %}">목록</a></li>
                      <li><a href="{% url 'photo:photo_add' %}">사진 추가</a></li>
                      <li><a href="{% url 'photo:photo_change' %}">사진 변경</a></li>
                      <li><a href="{% url 'photo:album_add' %}">사진 추가</a></li>
                      <li><a href="{% url 'photo:album_change' %}">사진 변경</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'polls:index' %}">설문</a></li>
                  <li><a href="{% url 'blog:post_archive' %}">아카이브</a></li>
                  <li><a href="{% url 'blog:search' %}">검색</a></li>
                  <li><a href="{% url 'admin:index' %}">관리자</a></li>
                </ul>
                {% if user.is_active %}
                <ul class="nav nav-bar navbar-right">
                <h4 class="welcome">환영합니다,
                            <p>{% firstof user.get_short_name user.get_username %}</p> /
                            <a href="{% url 'password_change' %}">비밀번호 바꾸기<i class="fa fa-exchange"></i></a> /
                            <a href="{% url 'logout' %}">로그아웃<i class="fa fa-sign-out"></i></a>
                </h4>
              </ul>
                {% else %}
                <ul class="nav nav-bar navbar-right">
                <h4 class="welcome">환영합니다, 손님/
                            <a href="{% url 'login' %}">로그인<i class="fa fa-sign-in"></i></a> /
                            <a href="{% url 'register' %}">회원가입<i class="fa fa-sign-in"></i></a>
                </h4>
              </ul>
              {% endif %}
              </div>
            </nav>
        </div>
        <script src="static/js/jquery-2.1.3.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>


{% block content %}{% endblock %}

{% block footer %}{% endblock %}
</body>
</html>
